<div class="col-md-6 col-lg-4">
    <div class="portfolio-item mx-auto" data-target="#portfolioModal_{{ modal_id }}" data-toggle="modal">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
            </div>
        </div>
        <img alt="" class="img-fluid"
            src="{{ asset('img/portfolio/small/' ~ image_path) }}"
            srcset="{{ asset('img/portfolio/small_x2/' ~ image_path) }} 2x"
        >

        <h4 class="portfolio-title text-dark">{{ title }}</h4>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="portfolioModal_{{ modal_id }}_Label" class="portfolio-modal modal fade" id="portfolioModal_{{ modal_id }}" role="dialog" tabindex="-1">
    <div class="modal-dialog {{ modal_class|default('modal-xl') }}" role="document">
        <div class="modal-content">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        {% block modal_content '' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>