<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
    <atom:link href="{{ url('blog_feed') }}" rel="self" type="application/rss+xml" />
    <title>@tentacode - Gabriel Pillet - Blog</title>
    <link>{{ url('blog_list') }}</link>
    <description>Technical blog of Gabriel Pillet</description>
    {% for post in posts %}
        <item>
            <title>{{ post.content.title }}</title>
            <link>{{ url('blog_detail', {'slug': post.slug}) }}</link>
            <description>{{ post.content.excerpt(200) }}</description>
            <guid>{{ url('blog_detail', {'slug': post.slug}) }}</guid>
            <pubDate>{{ post.date|date('r') }}</pubDate>
        </item>
    {% endfor %}
</channel>
</rss>