<section class="page-section blog text-light background-dark-blue mb-0 pt-5 pb-5" id="blog">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase mb-0">Recently blogged</h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-feather-alt"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            {% for post in posts %}
                <div class="col-lg-8 mx-auto">
                    <h4><a href="{{ path('blog_detail', {
                        'slug': post.slug
                    }) }}">{{ post.content.title }}</a></h4>
                    <p class="lead">
                        {{ post.content.excerpt(200) }}
                    </p> 
                </div>
            {% endfor %}
        </div>

        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light shadow-sm" href="{{ path('blog_list') }}">
                <i class="fas fa-plus-circle mr-2"></i>
                and {{ more_posts_count }} more
            </a>
        </div>
    </div>
</section>
