<!-- Contact Section -->
<section class="page-section background-light text-dark mb-0 pb-5" id="contact">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase mb-0">Get in touch</h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="far fa-paper-plane"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form action="{{ path('landing') }}#contact" method="POST" id="contactForm" name="sentMessage" novalidate="novalidate">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            {{ form_label(contact_form.senderName) }}
                            {{ form_widget(contact_form.senderName) }}
                        </div>
                        {{ form_errors(contact_form.senderName) }}
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            {{ form_label(contact_form.senderEmail) }}
                            {{ form_widget(contact_form.senderEmail) }}
                        </div>
                        {{ form_errors(contact_form.senderEmail) }}
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            {{ form_label(contact_form.message) }}
                            {{ form_widget(contact_form.message) }}
                        </div>
                        {{ form_errors(contact_form.message) }}
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-primary btn-xl shadow-sm" id="sendMessageButton" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
