{% macro strength(title, icon_class) %}
    <div class="col-lg-4">
        <div class="features mx-auto mb-4">
            <div class="big-icon mb-3 d-flex">
                <i class="m-auto {{ icon_class }} text-pink"></i>
            </div>
            <h3>{{ title }}</h3>
        </div>
    </div>
{% endmacro %}

<section class="page-section background-dark-blue text-light mb-0 pt-4 pb-5 shadow" id="my-strengths">
    <div class="container">

        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-rocket"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row mt-4 mb-5">
            {{ _self.strength('Pragmatism', 'fas fa-balance-scale') }}
            {{ _self.strength('Quality Addict', 'fas fa-clipboard-check') }}
            {{ _self.strength('Project Manager', 'fas fa-tasks') }}
        </div>
        
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-tools"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row mt-4 mb-5">
            {{ _self.strength('Backend Dev.', 'fab fa-symfony') }}
            {{ _self.strength('Data Lover', 'fas fa-server') }}
            {{ _self.strength('Optimizer', 'fas fa-tachometer-alt') }}
        </div>


        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-users"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row mt-4 mb-0">
            {{ _self.strength('Pedagogy', 'fas fa-chalkboard-teacher') }}
            {{ _self.strength('Kindness', 'fas fa-heart') }}
            {{ _self.strength('I speak RegEx', 'fas fa-robot') }}
        </div>
    </div>
</section>
