<section class="page-section background-light text-dark mb-0 shadow pt-4 pb-5" id="about">
    <div class="container">
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-heart"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
                
        <div class="row">
            <div class="col-lg-4 mb-4">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        <i class="fas fa-quote-left mr-1"></i>
                        <i>Very pedagogue and competent, Gabriel always tried to answer even the most twisted of our questions. He always found a solution to our problems.</i>
                    </p>
                </blockquote>
                <img alt="Picture of Julien S." style="display: inline; float:left; margin-right: 15px; width: 50px"  class="shadow rounded-circle"
                    src="{{ asset('img/testimonials/julien_s.jpg') }}"
                    srcset="{{ asset('img/testimonials/x2/julien_s.jpg') }} 2x"
                >
                <p>
                — <span>Julien S.</span><br/><span class="text-dark-blue">Computer Science Student</span>
                </p>
            </div>
            <div class="col-lg-4 mb-4">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        <i class="fas fa-quote-left mr-1"></i>
                        <i>
                            His pragmatism and method have guided us to the right technological choices. We were then able to continue to make the application evolve with a stable and solid foundation.
                        </i>
                    </p>
                </blockquote>
                <img class="shadow rounded-circle" alt="Picture of Stéphane H." style="display: inline; float:left; margin-right: 15px; width: 50px"
                    src="{{ asset('img/testimonials/stephane_h.jpg') }}"
                    srcset="{{ asset('img/testimonials/stephane_h.jpg') }} 2x"
                >
                <p>
                — <span>Stéphane H.</span><br/><span class="text-dark-blue">PHP Consultant</span>
                </p>
            </div>
            <div class="col-lg-4 mb-4">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        <i class="fas fa-quote-left mr-1"></i>
                        <i>Gabriel never refuses to help his teammates, unite the team and bring it to the top. He always gives good advice and loves to learn new things and improve himself. It was a pleasure to work with him.</i>
                    </p>
                </blockquote>
                <img class="shadow rounded-circle" alt="Picture of Guillaume S." style="display: inline; float:left; margin-right: 15px; width: 50px"
                    src="{{ asset('img/testimonials/guillaume_s.jpg') }}"
                    srcset="{{ asset('img/testimonials/guillaume_s.jpg') }} 2x"
                >
                <p>
                — <span>Guillaume S.</span><br/><span class="text-dark-blue">Mobile Developer</span>
                </p>
            </div>
        </div>
    </div>
</section>
